* {
  margin: 0;
}
body {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #070707;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

h1 {
  font-size: 54px;
  color: #323232;
}
h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 18px;
}

p {
  color: #323232;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  letter-spacing: 1.15px;
}

button {
  border-radius: 29px;
  background: #f78434;
  padding: 17px 37px;
  border: none;
  color: #fff;
  font-size: 16px;

  font-weight: 700;
  transition: 0.8s;
}

button:hover {
  background: #a04809;
}
.navbar nav {
  display: flex;
  margin-bottom: 43px;
  margin-top: 45px;
}
.logo {
  margin-left: -98px;
}
.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  width: 598px;
}
.menu a {
  text-decoration: none;
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.menu a:hover {
  color: #f78434;
}
menu a:focus {
  color: #f78434;
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main_info {
  display: flex;
}

.main_info_find {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 127px;
}

.main_info_find h1 {
  color: #323232;

  font-family: Poppins;
  font-size: 54px;
  font-weight: 700;
  line-height: 79px; /* 146.296% */
}

.main_info_find P {
  color: #323232;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  letter-spacing: 1.15px;
  margin-bottom: 42px;
  margin-top: 25px;
}

.main_info_input {
  display: flex;
  width: 459px;
  justify-content: space-between;
  border-radius: 29px;
  background: #fff;
  box-shadow: 0px 17px 42px 0px rgba(34, 34, 34, 0.12);
}
.main_info_input input {
  margin-left: -55px;
  color: #bbb;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main_info_input svg {
  margin-top: 17px;
  margin-left: 27px;
}

.your_email {
  border: none;
  color: #bbb;
  font-size: 16px;
  font-weight: 400;
}

.main_info_img {
  width: 540px;
  height: 676px;
}

.main_logo {
  margin-top: 104px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 55px;
}

h3 {
  color: #323232;
  font-size: 42px;
  font-weight: 700;
  line-height: 62px;
}
p {
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  letter-spacing: 1.15px;
}

.provide_txt h3 {
  width: 374px;
  margin-bottom: 20px;
}
.provide_txt p {
  width: 374px;
  margin-top: 20px;
}

.provide_txt button {
  margin-top: 40px;
}

.provide {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 100px;
}

.provide img {
  padding-right: 32px;
}
.provide_txt {
  margin-left: 107px;
  margin-top: 68px;
}

.img_popul_details img {
  border-radius: 15px;
  width: 300px;
  margin-left: -290px;
  margin-top: 322px;
}

.using_product {
  background-image: url(../img/Bg.jpg);
  max-width: 1110px;
  margin: 0 auto;
  background-repeat: no-repeat;
  height: 464px;
  position: relative;
  margin-bottom: 145px;
}

.using_product_txt h3 {
  color: white;
  width: 342px;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  line-height: 62px; /* 147.619% */
  letter-spacing: 0.8px;
  margin-bottom: 15px;
}

.using_product_txt p {
  width: 342px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  letter-spacing: 1.15px;
}
.using_product_txt {
  margin-left: 55px;
  position: absolute;
  top: 92px;
  left: 600px;
}

.btn_watch_now {
  background: #fff;
  color: #323232;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.treygolnik {
  width: 12px;
  height: 12px;
  fill: #f78434;
  margin-right: 7px;
  display: flex;
  align-items: center;
}

.using_product_btns {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.who_do h3,
p {
  text-align: center;
}

.cards {
  display: flex;

  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 112px;
}

.card_buyers {
  width: 540px;
  height: 365px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f78434;
  box-shadow: 0px 40px 52px -22px rgba(0, 0, 0, 0.08);
  color: #fff;
  text-align: center;
  transition: 0.5s;
}
.card_buyers:hover {
  transform: scale(1.1);
}

.card_buyers h3 {
  color: #fff;
  text-align: center;
}

.card_buyers p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 27px; /* 168.75% */
  letter-spacing: 1.15px;
  margin-bottom: 25px;
}

.card_buyers svg {
  margin-top: 40px;
  margin-bottom: 15px;
}
.card_buyers button {
  border-radius: 29px;
  background: #fff;
  color: #f78434;
  transition: 0.5s;
}
.card_buyers button:hover {
  background-color: #f0eeee;
  color: #ffa260;
}

.card_seller {
  width: 540px;
  height: 365px;
  flex-shrink: 0;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  background-color: #fff;
  box-shadow: 9px 60px 52px 2px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}

.card_seller:hover {
  transform: scale(1.1);
}

.card_seller img {
  margin-top: 40px;
  margin-bottom: 15px;
}
.card_seller p {
  margin-bottom: 25px;
}

.why_choose_us {
  text-align: center;
}

.why_choose_us h3 {
  margin-bottom: 58px;
}

.mini_card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 171px;
}

.mini_card img {
  margin-bottom: 15px;
}

.mini_card h4 {
  margin-bottom: 15px;
}

.thanks_for_txt {
  display: flex;
  align-items: baseline;
  margin-bottom: 58px;
}

.thanks_for_card {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.thanks_for_card p {
  margin-top: 31px;
  color: #7415b3;
  line-height: 27px; /* 168.75% */
  letter-spacing: 1.15px;
  width: 292px;
  text-align: left;
  margin-left: 29px;
  margin-bottom: 23px;
}

.thanks_for_card h6{
    margin-left: 29px;
}






