* {
  margin: 0;
}
body {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #070707;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

h1 {
  font-size: 54px;
  color: #323232;
}

p {
  color: #323232;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  letter-spacing: 1.15px;
}

button {
  border-radius: 29px;
  background: #f78434;
  padding: 17px 37px;
  border: none;
  color: #fff;
  font-size: 16px;

  font-weight: 700;
}
.navbar nav {
  display: flex;
  margin-bottom: 43px;
  margin-top: 45px;
}
.logo {
  margin-left: -98px;
}
.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  width: 598px;
}
.menu a {
  text-decoration: none;
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.menu a:hover {
  color: #f78434;
}
menu a:focus {
  color: #f78434;
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main_info {
  display: flex;
}

.main_info_find {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 127px;
}

.main_info_find h1 {
  color: #323232;

  font-family: Poppins;
  font-size: 54px;
  font-weight: 700;
  line-height: 79px; /* 146.296% */
}

.main_info_find P {
  color: #323232;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  letter-spacing: 1.15px;
  margin-bottom: 42px;
  margin-top: 25px;
}

.main_info_input {
  display: flex;
  width: 459px;
  justify-content: space-between;
  border-radius: 29px;
  background: #fff;
  box-shadow: 0px 17px 42px 0px rgba(34, 34, 34, 0.12);
}
.main_info_input input {
  margin-left: -55px;
  color: #bbb;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main_info_input svg {
  margin-top: 17px;
  margin-left: 27px;
}

.your_email {
  border: none;
  color: #bbb;
  font-size: 16px;
  font-weight: 400;
}

.main_info_img {
  width: 540px;
  height: 676px;
  flex-shrink: 0;
}

.main_logo {
  margin-top: 104px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 55px;
}

h3 {
  color: #323232;
  font-size: 42px;
  font-weight: 700;
  line-height: 62px; 
}
p {
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  letter-spacing: 1.15px;
}

.provide_txt h3{
    width: 374px;
    margin-bottom: 20px;
}
.provide_txt p{
    width: 374px;
    margin-top: 20px;
}

.provide_txt button{
    margin-top: 40px;
}

.provide{
    display: flex;
  justify-content: flex-start; 
  
}

.provide img{
    padding-right: 32px;
}
.img_popul_details img{
    border-radius: 15px;
    width: 300px;
    margin-left: -290px;
    margin-top: 300px;
}
